.telaBloqueada {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /*adiciona um fundo semi-transparente */
    z-index: 1; /* coloca a parte travada em primeiro plano */
}

body.scroll-blocked {
    overflow: hidden;
}

/*Cabecalho do Site */
header {
    height: 200px;
    background-color: rgb(148, 195, 88);
}

.menu-principal {
    float: right;
    font-family: Arial;
    font-size: larger;
    height: 200px;
    display: flex;
    align-items: center;
}

/*Corpo do Site */

.menu-principal>ul>li {
    display: inline-block;
    padding: 50px;
    font-family: Arial;
    font-size: 25px;
}

.menu-principal>ul>li:hover {
    background-color: rgb(252, 198, 100);
}

.logo {
    position: absolute;
    top: 40px;
    left: 60px;
}

h5 {
    font-family: Blippo Black;
    position: absolute;
    top: -30px;
    left: 49px;
    font-size: 36px;
}

main {
    height: 800px;
    font-family: Arial;
    font-size: large;
    color: black;
    text-align: center;
}

.selecionado {
    text-align: center;
    font-size: 50px;
    padding: 35px;
}

.input-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

input.caixa-texto-nome {
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 16px;
    width: 350px;
    height: 20px;
    margin-left: 10px;
}

.input-wrapper1 {
    display: inline-block;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

textarea.caixa-texto-ing {
    border: 1px solid #ccc;
    background-color: rgb(222, 236, 203);
    padding: 5px;
    font-size: 16px;
    width: 500px;
    height: 400px;
    resize: none;
    vertical-align: top;
}

.input-wrapper2 {
    display: inline-block;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    float: right;
    margin-right: 15px;
}

textarea.caixa-texto-prep {
    border: 1px solid #ccc;
    background-color: rgb(222, 236, 203);
    padding: 5px;
    font-size: 16px;
    width: 500px;
    height: 400px;
    resize: none;
    vertical-align: top;
}

.input-wrapper3 {
    display: inline-block;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    float: left;
    margin-left: 15px;
}

input.caixa-texto-tempoprep {
    border: 1px solid #ccc;
    background-color: rgb(222, 236, 203);
    padding: 5px;
    font-size: 16px;
    width: 300px;
    height: 40px;
}

.input-wrapper4 {
    display: inline-block;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    float: left;
    margin-left: 54px;
}

input.caixa-texto-porcoes {
    border: 1px solid #ccc;
    background-color: rgb(222, 236, 203);
    padding: 5px;
    font-size: 16px;
    width: 300px;
    height: 40px;
}

.input-wrapper5 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    float: left;
    margin-top: -300px;
    margin-left: 230px;
}

#preview {
    display: none;
    max-width: 400px;
    max-height: 400px;
}

.custom-file-upload {
    display: flex;
    float: left;
    padding: 20px 60px;
    cursor: pointer;
    background-color: rgb(222, 236, 203);
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.caixa-texto-foto {
    display: none;
}

.button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.button-wrapper button {
    width: 115px;
    height: 35px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
}

#mensagem-sucesso {
    z-index: 2;
}

.sabor {
    color: rgb(252, 198, 100);
    display: inline-block;

}

/*Rodape do Site */

footer {
    clear: both;
    height: 80px;
    background-color: rgb(148, 195, 88);
}

.rodape {
    float: right;
    font-family: arial;

}

.rodape>ul>li {
    display: inline-block;
    padding: 20px;
}

.teste