/*Cabecalho do Site */
header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: rgb(148, 195, 88);
}
.menu-principal {
    float: right;
    font-family: Arial;
    font-size: larger;
}

/*Corpo do Site */


.menu-principal > ul > li {
    display: inline-block;
    padding: 30px;
    font-family: "Arial";
}

.containerDivs {
    display:flex;
    clear: both
}

h2 {
    font-family: "Blippo Black";
    font-size: 50px;

}
.nomelogo {
    font-family: arial;
    font-size: 25px;
    color: black;
    text-align: center;
    float: right;
    padding:150px;
}

/*Rodape do Site */

footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    clear: both;
    height: 125px;
    background-color: rgb(148, 195, 88);
}
.rodape {
    text-align: center;
    font-family: arial;
    color: black;
}

.column {
    float: left;
    width: 50%;
    padding-top: 200px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

p {
    margin-right: 50px;
    padding-top: 10px;
}

