/*Cabecalho do Site */
header {
    height: 200px;
    background-color: rgb(148, 195, 88);
}
.menu-principal {
    float: right;
    font-family: Arial;
    font-size: larger;
    height: 200px;
    display:flex;
    align-items: center;
}

/*Corpo do Site */


.menu-principal > ul > li {
    display: inline-block;
    padding: 30px;
    font-family: "Arial";
}
.menu-principal > ul > li:hover {
    background-color: rgb(252, 198, 100);
}

.containerDivs {
    display:flex;
    clear: both
}

h2 {
    font-family: Arial;
    font-size: 50px;
    padding: 35px;

}
h1 {
    font-family: Blippo Black;
    position: absolute;
    top: 15px;
    left: 65px;
}
.logo{
    position: absolute;
    top: 45px;
    left: 70px;
}
.coluna {
    width: 20%;
    float: right;
    font-size: smaller;
    text-align: center;

}

main {
    height: 520px;
    font-family: Arial;
    font-size: larger;
    color: black;
    text-align: center;
}

.produto-item {
    width: 200px;
    float: left;
    padding: 0 10px;

}
.nomelogo {
    font-family: arial;
    font-size: 25px;
    color: black;
    text-align: center;
    float: right;
    padding:150px;
}

/*Rodape do Site */

footer {
    clear: both;
    height: 80px;
    background-color: rgb(148, 195, 88);
}
.rodape {
    text-align: center;
    font-family: arial;
    color: black;
}