body {
    margin: 0px;
    padding: 0px;
}

header {
    height: 200px;
    background-color: rgb(148, 195, 88);
}


.menu-principal {
    float: right;
    font-family: Arial;
    font-size: larger;
    height: 200px;
    display: flex;
    align-items: center;
}

.menu-principal>ul>li {
    display: inline-block;
    padding: 50px;
    font-family: Arial;
    font-size: 25px;
}


.menu-principal > ul > li:hover {
    background-color: rgb(252, 198, 100);
}

#divBuscahp {
    background-color: rgb(238, 200, 129);
    border:solid 1px #5f9ea0;
    border-radius: 15px;
    width: 100%;


}

#txtBuscahp {
    background-color:transparent;
    padding-left: 5px;
    font-style: italic;
    font-size: 18px;
    height: 32px;
    width: 260px;
    border: none;
    text-align: center;
}

.containerDivshp {
    display: flex;
    margin: 8px;
    vertical-align: top;


}

.conteudohp {
    display: inline-block;
    width: calc(35% - 25px);
    background-color: rgb(234, 221, 198);
    vertical-align: top;
    margin: 8px;
    border: 1px solid #777;
    text-align: justify;
}

.imagemlogohp {
    height: 400px;
    width: 400px;
    padding-left: 100px;
    
}

.nomelogohp {
    font-family: arial;
    font-size: 20px;
    color: black;
    text-align: center;
    float:right;
    height: 300px;
    width: 400px;
    padding-left: 100px;
}

.h1hp{
    text-align: center;
    font-size: 14px;
}

.h2hp {
    font-family: "Blippo Black";
    font-size: 36px
}

div p img {
    width: 100%;
}

footer {
    clear: both;
    height: 80px;
    background-color: rgb(148, 195, 88);
}
.rodape {
    float: right;
    font-family: arial;

}

.rodape>ul>li {
    display: inline-block;
    padding: 20px;
}