/*Cabecalho do Site */
header {
    height: 90px;
    background-color: rgb(148, 195, 88);
}
.menu-principal {
    float: right;
    font-family: Arial;
    font-size: larger;
}

/*Corpo do Site */


.menu-principal > ul > li {
    display: inline-block;
    padding: 30px;
    font-family: "Arial";
}

.containerDivs {
    display:flex;
    clear: both
}

h2 {
    font-family: "Blippo Black";

}
main {
    height: 100px;
    font-family: arial;
    font-size: large;
    color: black;
    text-align: center;
    float: right;
    padding:60px;
}

/*Rodape do Site */

footer {
    clear: both;
    height: 80px;
    background-color: rgb(148, 195, 88);
}
.rodape {
    text-align: center;
    font-family: arial;
    color: white;

}